#Practice on Income Dataset <br>
* Define functions for the following data points <br>
* Average Income of all states from 2005 to 2013 <br>
* State with highest average income in the last three years <br>
* State with lowest average income from 2007 to 2010(inclusive) <br>
* Print the list of all states in the same line with average income less than California <br>
* Print the names of states based on descending order of income in the year 2009 <br>
* State with the lowest recorded income from 2005 to 2013 <br>

In [4]:
import pandas as pd
filepath = 'Data Files/income.csv'
incomedf = pd.read_csv(filepath)
incomedf
#print(incomedf)
#sum = 0
#for row in incomedf.values:
    #sum += row[-1:]
#avg=sum/len(incomedf.values)
#print(avg)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [10]:
incomedf.loc[:,"2005"]

0    37150
1    55891
2    45245
3    36658
4    51755
Name: 2005, dtype: int64

In [11]:
sum = 0
for row in incomedf.values:
    sum += row[-2:]
    
sum/len(incomedf.values)

array([50038.8, 50113.4], dtype=object)

In [12]:
sum = 0
for row in incomedf.values:
    sum += row[-1]
    
sum/len(incomedf.values)

50113.4

In [10]:
def getRowIndex(df, rowkey):
    for i in range(len(df.values)):
        if df.values[i][0] == rowkey or df.values[i][1] == rowkey:
            rowindex = i
    return rowindex
def getColumnIndex(df, columnkey):
    for i in range(len(df.columns)):
        if df.columns[i] == columnkey:
            columnindex = i
    return columnindex
def avg(incomedf,lb,ub):
    lb=getColumnIndex(incomedf, lb)
    print(lb)
    ub=getColumnIndex(incomedf, ub)
    print(ub)
    count=0
    sum=0
    for i in range(len(incomedf.values)):
        print(incomedf.values[i])
        for j in range(lb,ub):
            print(incomedf.values[i][j])
            sum+=incomedf.values[i][j]
            count+=1
    return sum//count
avg(incomedf,"2005","2013")

2
10
['04000US01' 'Alabama' 37150 37952 42212 44476 39980 40933 42590 43464
 41381]
37150
37952
42212
44476
39980
40933
42590
43464
['04000US02' 'Alaska' 55891 56418 62993 63989 61604 57848 57431 63648
 61137]
55891
56418
62993
63989
61604
57848
57431
63648
['04000US04' 'Arizona' 45245 46657 47215 46914 45739 46896 48621 47044
 50602]
45245
46657
47215
46914
45739
46896
48621
47044
['04000US05' 'Arkansas' 36658 37057 40795 39586 36538 38587 41302 39018
 39919]
36658
37057
40795
39586
36538
38587
41302
39018
['04000US06' 'California' 51755 55319 55734 57014 56134 54283 53367 57020
 57528]
51755
55319
55734
57014
56134
54283
53367
57020

48326

In [80]:
#Print the names of states based on descending order of income in the year 2009
def year():
    s=incomedf.loc[:,"2009"]
    s1=incomedf.loc[:,"State"]
    print(s1)
    k=[]
    for column in s:
        k.append(column)
        k.sort(reverse=True)
    print(k)
year()

0       Alabama
1        Alaska
2       Arizona
3      Arkansas
4    California
Name: State, dtype: object
[61604, 56134, 45739, 39980, 36538]

In [82]:
d={}
d["State"]=61604
d

{'State': 61604}

In [ ]:
# State with highest average income in the last three years