In [ ]:
information

# hello

## hellooo

###### hello

** Bold **

1. ordered list element 1
2. ordered list element 2

![python logo](pylogo.png)

markdown@google.com

## Python Basics :
    -Scripting
    -Object Oriented

In [4]:
#Python Comments

print("hello","woww",end=" ")
print("hey Python")

hello woww hey Python

## ASSIGNMENT

In [10]:
N1=12345  #single Variable assignment
N2=N3=N4=N1 #MULTI VARIABLE ASSIGNMENT
#MULTI VARIABLE ASSIGNMENT WITH DIFFERENT VARIABLES

A,B,C=123,567,987 #MULTI VARIABLE ASSIGNMENT
print(A,B,C)

123 567 987

## ARITHMETIC OPERATIONS
    - ADDITION
    -SUBTRACTION
    -MULTIPLICATION
     -DIVISION
     -MODULUS
     -POWER or EXPONENTIAL

In [11]:
N1%11

3

In [20]:
N3=N1**12

type(N3)
len(str(N3))
N3

12528328468279800008275836185265394560488525390625

## CONDITIONS :

In [21]:
N3 <10 ** 9

False

## DATA TYPES:
    -INT
    -FLOAT
    -STRING
    -DOUBLE

In [28]:
type(A)
s1="Pythonn"
type(s1)

f1=12.345656768980990
type(f1)

float(str(int(f1)))

12.0

In [34]:
if f1 <10 ** 16:
    print("TRUE")
else:
    print("FALSE")

TRUE

# Check if a number is even

n = 123
if n % 2 == 0:
    print("even")
else :
    print("odd")

In [35]:
n = 123
if n % 2 == 0:
    print("even")
else :
    print("odd")

odd

In [40]:
# Find the greatest of the numbers
n1= input("Enter the number1")
n2= input("Enter the number2")
n3=input("Enter the number3")
if n1 > n2 and n1 > n3 :
    print(n1,"is the greatest")
elif n2 > n3 :
    print(n2,"is the greatest")
else :
    print(n3,"is the greatest")

Enter the number1dsfer
Enter the number2dsgdsbd
Enter the number3sdbdrgf
sdbdrgf is the greatest

In [4]:
# find it leap year or not 
a=int(input("Enter the year"))
if ((a%400==0) or (a%4==0 and a%100!=0)):
    print("given year is leap year")
else :
    print("given year is not the leap year")

Enter the year2016
given year is leap year

In [5]:
2<3 and 3<4

True

In [8]:
# MULTIPLE OF 10 OR NOT
n = int(input("Enter the number"))
if (n%10==0):
    print("factor of 10")
else:
    print("not factor of 10")

Enter the number78
not factor of 10

In [11]:
#Multiple of 1000 or not 
n = int(input("Enter the number"))
if (n%1000==0):
    print("factor of 1000")
else:
    print("not factor of 1000")

Enter the number1213123
not factor of 1000

In [2]:
#Check number exists in a given range or not
n1=int(input("enterthe number"))
lb=int(input("enter the lower boundary"))
ub=int(input("enter the upper boundary"))
if lb<=n1<=ub:
    print("number exists in a range")
else:
    print("number not in the range")

enterthe number12
enter the lower boundary10
enter the upper boundary15
number exists in a range