In [2]:
#Hackerearth-Medium-25th June 2019
#--->Function to print all combinations of pairs of integers in a unique list
#--->[1,2,3]-->(1,2),(1,3),(2,3) --> 3C2 --> 3!/((3-2)!*2!)
#--->[1,2,3,4]--->1,2 1,3 1,4 2,3 2,4 3,4

def combinations(li):
    for i in range(len(li)-1):
        for j in range (i+1,len(li)):
            print(li[i],li[j])
    return
li=[1,2,3,4]
combinations(li)

1 2
1 3
1 4
2 3
2 4
3 4

In [8]:
# 3 combinations
def combinations(li):
    for i in range(len(li)-2):
        for j in range (i+1,len(li)-1):
            for k in range(j+1,len(li)):
                print(li[i],li[j],li[k])
    return
li=[1,2,3,4,5]
combinations(li)

1 2 3
1 2 4
1 2 5
1 3 4
1 3 5
1 4 5
2 3 4
2 3 5
2 4 5
3 4 5

In [7]:
def medium(li,k):
    while(True): 
        li3=differencepairs(li)
        if li3[0]==li3[1]:
            break
    if len(li3[0])>=k:
        return sorted(li3[0],reverse=True)[k-1]
    return -1
    
def differencepairs(li):
    c=li.copy()
    newelements=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            diff=abs(int(li[i])-int(li[j]))
            if diff  not in li and diff not  in newelements:
                newelements.append(str(diff))
    li.extend(newelements)
    return [cli,li]
with open ('Data Files/medium-in.txt','r')as f:
    t= int(f.readline())
    for i in  range(t):
        f.readline()
        li=f.readline().split()
        k= int(f.readline)
        

li=[1,9,8,7]
medium(li,2)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'builtin_function_or_method'

In [15]:
#Set -Data Structure in Python
 ## represented by {}
    
a={1,2,3,4,5,6,6}
a.add(7) # adding a single element to the set
#for i in a:
    #print(i,end=' ') #accessing the element in a set
b={7,8,9}
li=[12,3,78,90]
a.update(b,li)   #adding multiple elements---- can also add the list 
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 78, 90}

In [17]:
#Similarily there is remove function to remove we use discard function
a.discard(78)
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 90}

In [18]:
#combines...union funtion
a1={10,12,13,14,5,6}
b1={2,3,4,5,6}
a1.union(b1)

{2, 3, 4, 5, 6, 10, 12, 13, 14}

In [20]:
#intersection
a1={10,12,13,14,5,6}
b1={2,3,4,5,6}
a1.intersection(b1)

{5, 6}

In [21]:
#disjoint sets....if there is no common elements in the list,returns-True...if there,returns-false
a1={10,12,13,14,5,6}
b1={2,3,4,5,6}
a1.isdisjoint(b1)

False

In [30]:
a1={1,2,3,4,5,17}
b1={2,3,4,5,123,}
a1-b1 # all elements of a which are not in b
b1-a1

{123}

In [25]:
sorted(a)

[5, 6, 10, 12, 13, 14]

In [32]:
type(a)

set

In [35]:
a1^b1 # elements in a either b will be poped

{1, 17, 123}

In [37]:
d=set() #---> creating the empty list
d

set()

# functional programming
Procedural : C
Object oriented:Java
Scripting:PHP,Python,Java Script,Shell,Perl
Functional:Python,Haskell,Scala
Logic:Prolog,Lisp

In [42]:
# N natural numbers in list
n=10
li=[]
for i in range(n+1):
    li.append(i)
li

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
li=[i for i in range(1,11)]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [46]:
# apply list comprenhension of cubes of n natural numbers
li=[i**3 for i in range(1,11)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [8]:
#function to calculate factorial 
def factorial(n):
    if n==0 or n==1:
        return 1
    return n * factorial(n-1)
#apply list comprehension
# factorial of n natural numbers
n=5
factorialList=[factorial(i)for i in range(1,n+1)]
factorialList

[1, 2, 6, 24, 120]

In [5]:
j=5
csum=[sum(range(1,i+1)) for i in range(1,j+1)]
csum

[1, 3, 6, 10, 15]

In [ ]:
li=[1,2,3,2,1]
unique=[]
unique=[li[i] for i in range(0,len(li)[i]-1)if sorted(li)[i]!=li[i+1]
if
unique

In [1]:
# #List Comprenhension to store
# only leap years
st=1970
et=2019
leapyears=[1972,1976,... 2016]

SyntaxError: invalid syntax (<ipython-input-1-119b75541de6>, line 5)

# Iterators

Iterable -Strings,list,tuples,
convert iterable to iterator 
For loop:
    
iterator

In [18]:
it=iter('Python')
for i in it:
    print(next(it))

y
h
n

In [31]:
## Generators:function:used to generate the code where it has to be stopped and

def abc():
    n=2
    yield n #return all the values
    
    n=n**3
    yield n
    
    n=n**3
    yield n
a=abc()
next(a)
next(a)
next(a)

512

In [30]:
def generator():
    n=6
    for i in range(1,5):
        print(i)
        n**=3
        yield n
a=generator()
next(a)
b=next(a)**2
b*=next(a)

1
2

10077696