### Num py Library
* Processing N-Dimensional Arrays <br>
* sophisticated (broadcasting) functions <br>
* tools for integrating C/C++ and Fortran code <br>
* useful linear algebra, Fourier transform, and random number capabilities <br>

In [4]:
import numpy as np
li=[1,2,3,'z']
a=np.array(li)
a

array(['1', '2', '3', 'z'], dtype='<U11')

In [6]:
import numpy as np
li=[1,2,3,'z']
a=np.array(li)
b=np.arange(15)
b

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [10]:

m3=np.random.randint(0,7,size=(3,3,3,3))
m3[2]

array([[[0, 3, 5],
        [1, 3, 1],
        [3, 5, 3]],

       [[3, 5, 1],
        [6, 6, 1],
        [0, 3, 4]],

       [[2, 1, 3],
        [1, 5, 6],
        [6, 4, 4]]])

## Pandas <br>
* Data Cleaning <br>
* Data Transforming <br>
* Data Analysis <br>
### Notations
* Series <br>
* Data Frames <br>

In [13]:
import pandas as pd
internal1={'s1':21,'s2':18,'s3':24}
internal1=pd.Series(internal1)
internal2={'s1':15,'s2':18,'s3':12}
internal2=pd.Series(internal2)
internal2

s1    15
s2    18
s3    12
dtype: int64

In [14]:
final={'Internal1':internal1,'Internal2':internal2}
final=pd.DataFrame(final)
final

    Internal1  Internal2
s1         21         15
s2         18         18
s3         24         12

In [15]:
final['Internal1']

s1    21
s2    18
s3    24
Name: Internal1, dtype: int64

In [20]:
final.columns

Index(['Internal1', 'Internal2'], dtype='object')

In [21]:
final.values

array([[21, 15],
       [18, 18],
       [24, 12]], dtype=int64)

In [23]:
for row in final.values:
    print('Internal1-',row[0],',Internal2',row[1])

Internal1- 21 ,Internal2 15
Internal1- 18 ,Internal2 18
Internal1- 24 ,Internal2 12

In [26]:
final.loc['s4']=[24,18] #adding the row
final

    Internal1  Internal2
s1         21         15
s2         18         18
s3         24         12
s4         24         18

In [27]:
final.drop('s4')

    Internal1  Internal2
s1         21         15
s2         18         18
s3         24         12

In [28]:
final.values[2]=[12,25]

In [3]:
# REading CSV file data
import pandas as pd
filepath='Data Files/income.csv'
incomedf=pd.read_csv(filepath)
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [4]:
# extract the income of all states in 2013
#California:57528
incomedf.values

array([['04000US01', 'Alabama', 37150, 37952, 42212, 44476, 39980, 40933,
        42590, 43464, 41381],
       ['04000US02', 'Alaska', 55891, 56418, 62993, 63989, 61604, 57848,
        57431, 63648, 61137],
       ['04000US04', 'Arizona', 45245, 46657, 47215, 46914, 45739, 46896,
        48621, 47044, 50602],
       ['04000US05', 'Arkansas', 36658, 37057, 40795, 39586, 36538,
        38587, 41302, 39018, 39919],
       ['04000US06', 'California', 51755, 55319, 55734, 57014, 56134,
        54283, 53367, 57020, 57528]], dtype=object)

In [34]:
for row in incomedf.values:
    print(row[1],':',row[-1])

Alabama : 41381
Alaska : 61137
Arizona : 50602
Arkansas : 39919
California : 57528

In [36]:
# average income of particular state ----Arizona 
sum=0
for i in range(2,11):
    sum+=incomedf.values[2][i]
sum/len(incomedf.values[2][2:])

47214.77777777778

In [37]:
# AVERAGE INCOME OF ALL COUNTRIES FOR THE PARTICULAR YEAR-----2012
sum=0
for row in incomedf.values:
    sum+=row[-2]
sum/len(incomedf.values)

50038.8